.projectContainer {
    background: var(--lighterWhite-background);
}

/* .projectContainerOpacity {
    opacity: 0;
} */

.projectListContainer {
    display: flex;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: clamp(50px, 6vw, 70px);
    margin-bottom: clamp(80px, 8.5vw, 120px);
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 400px) {
    .projectListContainer {
        margin-left: 3%;
        margin-right: 3%;
    }
}