.introductionContainer {
    background: var(--green-background);
    width: 100%;
    height: 100vh;
}

.introductionInformation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.introductionText {
    font-size: clamp(24px, 3vw, 3vw);
    font-family: var(--font-montserrat);
    font-weight: bold;
    color: var(--whiteYellow-background);
    margin-bottom: clamp(15px, 2.5vw, 2.5vw);
}

.introductionName {
    color: var(--blue-background);
}

.learnMoreButton {
    border: 4px solid black;
    border-color: var(--blue-background);
    width: 50%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    font-size: clamp(24px, 2.5vw, 30px);
    font-family: var(--font-lato);
    background: var(--green-background);
    font-weight: bold;
    color: var(--blue-background);
    text-align: center;
}

.learnMoreButton:hover {
    background: var(--darker-green-background);
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 1200px) {
    .learnMoreButton {
        width: 216px;
    }
}

@media only screen and (max-width: 600px) {
    .introductionInformation {
        width: 85vw;
    }

    .learnMoreButton {
        width: 150px;
        font-size: 22px;
        height: 40px;
        line-height: 40px;
        border-width: 3px;
    }
}

@media only screen and (max-width: 350px) {
    .introductionInformation {
        width: 90vw;
    }

    .introductionText {
        font-size: 20px;
    }

    .learnMoreButton {
        width: 130px;
        font-size: 20px;
        height: 30px;
        line-height: 30px;
    }
}