.logoContainer {
    /* overflow: scroll; */
    /* width: 100%; */
    margin-top: clamp(55px, 6vw, 70px);
    margin-bottom: clamp(55px, 6vw, 70px);
    display: flex;
    justify-content: space-around;
}

.html-image {
    height: clamp(75px, 10vw, 140px);
    width: clamp(75px, 10vw, 140px);
}

.css-image {
    height: clamp(75px, 10vw, 135px);
    width: clamp(55px, 7vw, 98px);
}

.js-image {
    height: clamp(75px, 10vw, 135px);
    width: clamp(55px, 7vw, 98px);
}

.react-image {
    height: clamp(75px, 10vw, 140px);
    width: clamp(75px, 10vw, 140px);
}