.navbarContainerDesktop {
    height: 80px;
    line-height: 80px;
    width: 100%;
    background: var(--blue-background);
    color: var(--whiteYellow-background);
    font-size: clamp(18px, 2vw, 24px);
    font-family: var(--font-lato);
    position: sticky;
    top: 0px;
    z-index: 5;
}

.navbarLinkContainer {
    margin-left: 75px;
}

.navbarLink {
    margin-left: 25px;
}

.navbarLink:hover {
    color: var(--green-background);
}

.hamburgerMenu {
    height: 45px;
    width: 45px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    float: left;
    margin-left: 25px;
}

.dropDownMenuLinks {
    background: #012850;
    font-family: var(--font-lato);
    color: var(--whiteYellow-background);
    padding-left: 25px;
    animation-name: showLinkMenu;
    animation-duration: 1s;
}

.navbarLinkMobile {
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.hideLinkMenu {
    animation-name: hideLinkMenu;
    animation-duration: 0.75s;
}

@keyframes showLinkMenu {
    from {
        height: 0;
    }

    to {
        height: 152px;
    }
}

@keyframes hideLinkMenu {
    from {
        height: 152px;
    }

    to {
        height: 0;
    }
}

@media only screen and (max-width: 1000px) {
    .navbarLinkContainer {
        margin-left: 5vw;
    }
}

@media only screen and (max-width: 600px) {
    .navbarContainerDesktop {
        height: 60px;
        line-height: 60px;
    }

    .navbarLinkContainer {
        text-align: center;
        margin-left: -30px;
    }
}