.projectCardContainer {
    display: grid;
    grid-template-columns: 1fr;
    width: clamp(200px, 33%, 450px);
}

.projectCardTitle {
    font-family: var(--font-playfair);
    text-align: center;
    color: var(--blue-background);
    font-weight: bold;
    font-size: 24px;
}

.projectCardImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.projectCardBackground {
    width: 100%;
    height: 250px;
    background: var(--green-background);
}

.projectCardLearnMoreButton {
    text-align: center;
    border: 4px solid var(--blue-background);
    position: relative;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 50px;
    line-height: 50px;
    font-family: var(--font-lato);
    color: var(--blue-background);
    font-size: 18px;
    font-weight: bold;
}

.projectCardLearnMoreButton:hover {
    background: var(--darker-green-background);
}

.infoCardContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
    animation-name: backgroundShow;
    animation-duration: 0.20s;
}

.infoCard {
    width: clamp(450px, 50vw, 650px);
    position: relative;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-name: showInfoCard;
    animation-duration: 0.40s;
}

.infoCardImage {
    width: 100%;
}

.infoCardTextContainer {
    width: 100%;
    background: var(--lighterWhite-background);
    margin-top: -4px;
}

.infoCardTitleText {
    margin: 0;
    font-family: var(--font-playfair);
    font-size: clamp(18px, 3.5vw, 24px);
    font-weight: bold;
    padding: 30px 5px 5px 30px;
}

.infoCardTechText {
    font-family: var(--font-montserrat);
    font-size: clamp(15px, 1.5vw, 18px);
    color: #858585;
    padding-left: 30px;
    padding-right: 30px;
    margin: 8px 0 20px 0;
}

.infoCardTextDivider {
    color: black;
    background: black;
    margin-left: 30px;
    margin-right: 30px;
}

.infoCardDescription {
    padding-left: 30px;
    padding-right: 30px;
    font-family: var(--font-montserrat);
    font-size: clamp(15px, 1.5vw, 18px);
}

.infoCardButtonContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 25px;
}

.infoCardButton {
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 132px;
    border: 3px solid var(--blue-background);
    background: var(--green-background);
}

.infoCardLink {
    font-family: var(--font-lato);
    color: var(--blue-background);
    font-weight: bold;
    font-size: 18px;
}

.demoButton {
    justify-self: right;
}

.infoCardButton:hover {
    background: var(--darker-green-background);
}

.showCardAnimation {
    animation-name: showInfoCard;
    animation-duration: 0.41s;
}

.hideCardAnimation {
    animation-name: hideInfoCard;
    animation-duration: 0.41s;
}

.hideAnimation {
    animation-name: hideCard;
    animation-duration: 0.20s;
    animation-delay: 0.20s;
}

@keyframes showProjectCard {
    from {
        position: relative;
        opacity: 0;
        top: -100px;
    } 
    to {
        position: relative;
        opacity: 1;
        top: 0;
    }
}

@keyframes showInfoCard {
    from {
        top: 0;
    }
}

@keyframes hideInfoCard {
    to {
        opacity: 1;
        top: 140vh;
    }
}

@keyframes backgroundShow {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.75);
    }
}

@keyframes hideCard {
    from {
        background-color: rgba(0, 0, 0, 0.75);
    }
    to {
        background-color: rgba(0, 0, 0, 0);
    }
}

@media only screen and (max-width: 1200px) {
    .projectCardTitle {
        font-size: clamp(18px, 2vw, 2vw)
    }

    .projectCardImage {
        height: clamp(175px, 17vw, 17vw);
    }

    .projectCardBackground {
        height: clamp(175px, 17vw, 17vw);
    }

    .projectCardLearnMoreButton {
        height: clamp(50px, 5vw, 5vw);
        line-height: clamp(50px, 5vw, 5vw);
    }
}

@media only screen and (max-width: 1000px) {
    .infoCardTitleText {
        padding: 20px 5px 5px 15px;
    }

    .infoCardTechText {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 15px;
    }

    .infoCardTextDivider {
        margin-left: 15px;
        margin-right: 15px;
    }

    .infoCardDescription {
        padding-left: 15px;
        padding-right: 15px;
    }

    .infoCardButtonContainer {
        padding-left: 15px;
        padding-right: 15px;
    }

    .infoCardButton {
        height: 40px;
        line-height: 40px;
        width: 120px;
    }
}

@media only screen and (max-width: 900px) {
    .projectCardContainer {
        width: 275px;
    }
    .projectCardImage {
        height: clamp(200px, 17vw, 17vw);
    }

    .projectCardBackground {
        height: clamp(200px, 17vw, 17vw);
    }
}

@media only screen and (max-width: 660px) {
    .projectCardLearnMoreButton {
        width: 40%;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 650px) {
    .projectCardContainer {
        width: 250px;
    }
    .projectCardImage {
        height: clamp(200px, 17vw, 17vw);
    }
    .projectCardBackground {
        height: clamp(200px, 17vw, 17vw);
    }

    .infoCardButton {
        height: 35px;
        line-height: 35px;
        width: 105px;
    }

    .infoCardLink {
        font-size: 16px;
    }
}

@media only screen and (max-width: 600px) {
    .projectCardContainer {
        width: 300px;
    }
    .projectCardImage {
        height: 190px;
    }
    .projectCardBackground {
        height: 190px;
    }

    .infoCardTechText {
        margin-top: 4px;
    }
}

@media only screen and (max-width: 550px) {
    .infoCard {
        width: 92.5%;
    }
}

@media only screen and (max-width: 450px) {
    .infoCardTitleText {
        padding: 18px 5px 0 15px;
    }

    .infoCardTechText {
        padding-left: 15px;
        padding-right: 15px;
    }

    .infoCardDescription {
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

@media only screen and (max-width: 400px) {
    .projectCardContainer {
        width: 280px;
    }

    .projectCardImage {
        height: 180px;
    }

    .projectCardBackground {
        height: 180px;
    }

    .infoCard {
        width: 99%;
    }
}

@media only screen and (max-width: 350px) {
    .projectCardContainer {
        width: 250px;
    }

    .projectCardImage {
        height: 165px;
    }

    .projectCardBackground {
        height: 165px;
    }
}