@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;600&family=Playfair+Display&display=swap');

:root {
    /* Global Colors */
    --green-background: #5CDB95;
    --darker-green-background: #54ca89;
    --whiteYellow-background: #EDF5E1;
    --blue-background: #05386B;

    /* Global Fonts */
    --font-lato: 'Lato', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-playfair: 'Playfair Display', serif;
}